@import '../../colors.scss';

.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    color: $button-color;
    border-bottom: 1px solid $border-color;

    &__logo{
        font-size: 18pt;
        font-weight: 500;
    }

    &__button{
        padding: 10px 20px;
        background-color: $background-color;
        color: $button-color;
        border: 1px solid $border-color;
        cursor: pointer;

        &:hover{
            border: 1px solid $accent;
            background-color: $accent;
            color: $background-color;
        }
    }
}