.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    &__input{
        width: 100%;
        border: 1px solid #BBBBBB;
        padding: 10px 20px;
        font-size: 12pt;
        margin: 15px 0;
        outline: 0;
    }

    &__textarea{
        width: 100%;
        height: 200px;
        resize: none;
        border: 1px solid #BBBBBB;
        padding: 10px 20px;
        font-size: 12pt;
        outline: 0;
    }

    &__error{
        font-size: 11px;
        color: #FF0000;
    }

    &__button{
        padding: 10px 20px;
        background-color: #FFFFFF;
        color: #333333;
        border: 1px solid #BBBBBB;
        cursor: pointer;

        &:hover{
            border: 1px solid #f12563;
            background-color: #f12563;
            color: #FFFFFF;
        }
    }
}

.highlightedText{
    font-weight: 700;
    color: #f12563;
}